blinker==1.4
boto3
click==7.0
docutils==0.14
Flask==1.0.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-OAuth2-Login==0.0.9
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==0.14.2
funcsigs==1.0.2
futures==3.2.0
httplib2==0.12.1
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.1
mock==2.0.0
oauth2==1.9.0.post1
oauthlib==3.0.1
passlib==1.7.1
pbr==5.1.2
pyaml==18.11.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
raven
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer
schedule==0.6.0
six==1.12.0
slacker==0.12.0
SQLAlchemy==1.2.18
Werkzeug==0.14.1
wheel==0.33.1
WTForms==2.2.1
